@import 'components/navbar';
@import 'base/base';
@import 'pages/home.scss';
@import 'pages/muscle-groups.scss';

@import 'components/exerciseCategory.scss';


.generic-button {
	margin: 4rem;
	padding: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid #f2b01e;
	cursor: pointer;
}


.main-title {
	font-size: 6rem;
	padding: 2rem;
	text-align: center;
	color: #f2b01e;
	font-family: 'Didact Gothic';
}


.master-div {
	background-color: #313131;
	height: 100vh;
}

.header-text {
	font-size: 5rem;
	color: #fff;
}

.content-text {
	font-size: 2rem;
	padding: 2rem;
}

.content-box {
	position: absolute;
	width: 75%;
	height: 50%;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
	background: rgba(238, 238, 238, 0.5);
}

.content {
	padding: 2rem 6rem;
}



.centered {
	text-align: center;
}

.button {
	text-align: center;
}


.landing-page {
	height: 100vh;
	background-color: #fff;
}



////////////////////////////////////////////////////
.title {
	padding-bottom: 5rem;
}


///////////////////////////////////////////////////
.body-diagram-image {
	width: 60%;
	background-color: #fff;
	border-radius: 1rem;

}

.muscle-map {
	position: relative;
	text-align: center;
	display: block;
	margin-bottom: 11rem;
	min-width: 42rem;
}

.muscle-image-quadA {
	position: absolute;
	width: 3.93%;
	top: 42.1%;
	left: 34.18%;
	opacity: 0;
}

.muscle-image-quadA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-quadB {
	position: absolute;
	width: 3.93%;
	top: 42.1%;
	left: 38.81%;
	opacity: 0;
}

.muscle-image-quadB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-abs {
	position: absolute;
	width: 3.935%;
	top: 28.44%;
	left: 36.4%;
	opacity: 0;
}

.muscle-image-abs:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-bicepsA {
	position: absolute;
	width: 2.4%;
	top: 26.8%;
	left: 32.537%;
	opacity: 0;
}

.muscle-image-bicepsA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-bicepsB {
	position: absolute;
	width: 2.4%;
	top: 26.8%;
	left: 42%;
	opacity: 0;
}

.muscle-image-bicepsB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-pecs {
	position: absolute;
	width: 7.77%;
	top: 21.95%;
	left: 34.6%;
	opacity: 0;
}

.muscle-image-pecs:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-deltoidA {
	position: absolute;
	width: 3.36%;
	top: 20.95%;
	left: 33.12%;
	opacity: 0;
}

.muscle-image-deltoidA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-deltoidB {
	position: absolute;
	width: 3.4%;
	top: 20.89%;
	left: 40.44%;
	opacity: 0;
}

.muscle-image-deltoidB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-calvesA {
	position: absolute;
	width: 2.79%;
	top: 64.5%;
	left: 33.9%;
	opacity: 0;
}

.muscle-image-calvesA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-calvesB {
	position: absolute;
	width: 2.84%;
	top: 63.9%;
	left: 40.22%;
	opacity: 0;
}

.muscle-image-calvesB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-deltoidC {
	position: absolute;
	width: 3.34%;
	top: 19.3%;
	left: 56.95%;
	opacity: 0;
}

.muscle-image-deltoidC:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-deltoidD {
	position: absolute;
	width: 3.41%;
	top: 19.32%;
	left: 64.8%;
	opacity: 0;
}

.muscle-image-deltoidD:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-trapsC {
	position: absolute;
	width: 4.8%;
	top: 17.9%;
	left: 60.18%;
	opacity: 0;
}

.muscle-image-trapsC:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-latsA {
	position: absolute;
	width: 3.58%;
	top: 26.5%;
	left: 58.82%;
	opacity: 0;
}

.muscle-image-latsA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-latsB {
	position: absolute;
	width: 3.58%;
	top: 26.6%;
	left: 62.735%;
	opacity: 0;
}

.muscle-image-latsB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-lower-back {
	position: absolute;
	width: 3.97%;
	top: 32.8%;
	left: 60.55%;
	opacity: 0;
}

.muscle-image-lower-back:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-tricepsA {
	position: absolute;
	width: 2.75%;
	top: 24.7%;
	left: 56.1%;
	opacity: 0;
}

.muscle-image-tricepsA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-tricepsB {
	position: absolute;
	width: 2.75%;
	top: 24.7%;
	left: 66.25%;
	opacity: 0;
}

.muscle-image-tricepsB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-glutes {
	position: absolute;
	width: 7.33%;
	top: 40.7%;
	left: 58.9%;
	opacity: 0;
}

.muscle-image-glutes:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-hamstringsA {
	position: absolute;
	width: 4.01%;
	top: 47.2%;
	left: 58.25%;
	opacity: 0;
}

.muscle-image-hamstringsA:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-hamstringsB {
	position: absolute;
	width: 4.0%;
	top: 47.55%;
	left: 62.9%;
	opacity: 0;
}

.muscle-image-hamstringsB:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-calvesC {
	position: absolute;
	width: 2.87%;
	top: 64.1%;
	left: 57.2%;
	opacity: 0;
}

.muscle-image-calvesC:hover {
	transition: 0.3s;
	opacity: 1;
}

.muscle-image-calvesD {
	position: absolute;
	width: 2.87%;
	top: 64.2%;
	left: 65.05%;
	opacity: 0;
}

.muscle-image-calvesD:hover {
	transition: 0.3s;
	opacity: 1;
}

////////////////////////////////////////
//MuscleCategory
////////////////////////////////////////

.muscle-category-container {
	width: 80%;
	border: 0.2rem solid black;
	background-image: linear-gradient(
	to right bottom,
		rgba(0,0,0, 0.95),
		rgba(0,0,0, 0.01)),
	url('/exercise-images/background-images/gym3.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1rem;
	text-align: center;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 8rem;
	min-width: 48.4rem;
}



.main-container {
	min-width: 33.6rem;
}

.tab-bar {
	display: flex;
	list-style: none;
	justify-content: center;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 2.5rem;
	color: #f2b01e;
	// background: #222;


	li {
		margin: 0rem 1rem;
		background: #222;
		border-radius: 0.4rem;
		padding: 1rem;
		cursor: pointer;
	}

}

.tab:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tab:active {
	font-weight: bold;
}

.active {
	border-bottom: 0.2rem solid #f2b01e;
	font-weight: bolder;
}

.overview-main-container {
	padding-bottom: 4rem;
	display: flex;
	justify-content: center;
}

.overview-content-container {
	width: 70%;
	border-radius: 0.5rem;
	background: rgba(255, 255, 255, 0.8); 
	min-width: 55.5rem;
}

.category-title {
	font-size: 4rem;
	font-family: 'Bangers';
	padding: 2rem 2rem 0 2rem;
}

.inner-background {
	background: #222;
	margin: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border: 0.1rem solid #000;
	border-radius: 0.5rem;
	min-width: 19.4rem;
}

.img-info-container {
	border: 0.1rem solid #000;
	border-radius: 0.5rem;
	margin: 3rem;
	background-color: #333;
	text-align: center;
	min-width: 27.6rem;
}


.info-container {
	width: 50%;
	position: relative;
	padding: 2rem 10rem 2rem;
	text-align: center;
	margin: 0 auto;
	border-radius: 0.5rem;
}

.info {
	font-size: 1.7rem;
	text-align: left;
	color: white;
}

.muscleFunction-title {
	font-size: 2.5rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-family: 'Lato';
	color: #f2b01e;
}



.muscleFunction {
	font-size: 1.7rem;
	color: white;
	text-align: left;
}


.img-container {
	width: 50%;
	border-radius: 0.5rem;
	margin: 0 auto;
}

.overview-img {
	object-fit: contain;
	border-radius: 0.5rem;
	width: 100%;
	height: 25rem;
	background: white;
	border: 0.2rem solid #f2b01e;
}


//////////////////////
//Exercise Tab
/////////////////////

.big-header {
	font-size: 5rem;
}

.exercisesTab {
	width: 50rem;
	height: auto;
}

.exerciseTab-para {
	font-size: 5rem;
	z-index: 5;
}

////////////////////////////////////////////
/////	Exercise List
////////////////////////////////////////////

.front-button {
	z-index: 10;
	
}

.open-button {
	z-index: 1000;
}

.exercise-button1 {
	position: absolute;
	margin: 1rem;
	z-index: 10;
	opacity: 1;
	padding: 1rem;
	left: 87%;
	cursor: pointer;
	border: 0.2rem solid #f2b01e;
	border-radius: 0.2rem;
	
}

.exercise-button2 {
	position: absolute;
	margin: 1rem;
	z-index: 10;
	opacity: 1;
	padding: 1rem;
	right: 87%;
	cursor: pointer;
	border: 0.2rem solid #f2b01e;
	border-radius: 0.2rem;
	
}


.exerciseList {
	background: #222;
	color: #555;
	font-style: 'Roboto Mono';
	border: 1px solid black;
	border-radius: 0.5rem;
	height: 85%;
	display: block;
	overflow: auto;
	margin: 3rem;
}

.exerciseTitle {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	color: #f2b01e;
	margin-bottom: 2rem;
}

.exercise-title {
	margin-top: 0rem;
	font-size: 3rem;
	text-align: center;
}

.back-exercise-title {
	margin-top: 0rem;
	font-size: 3rem;
	text-align: center;
}

.exerciseImageAndInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 2rem;
	margin-bottom: 3rem;
}

.image-container {
	height: 20%;
	width: 25%;
	border: 1px solid black;
	border-radius: 0.5rem;
	background: white;
	border: 0.2rem solid #f2b01e;
}

.exercise-image {
	object-fit: contain;
	width: 80%;
	height: 18rem;
}

.exercise-info {
	width: 50%;
}

.general-info {
	text-align: center;
	color: #fff;
}

.mini-info-container {
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini-info-title {
	padding: 2rem;
	color: #f2b01e;
}

.mini-info {
	padding: 1rem;
	font-size: 1.5rem;
	color: #fff;
}

.more-info {
	padding-top: 3rem;
	font-size: 1.5rem;
}

////////////////////////////////
/// Modal
///////////////////////////////


.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-info-container {
	background-color: #333;
	color: #f2b01e;
	border-radius: 0.4rem;
	border: 1px solid #f2b01e;
	padding: 5rem;
	width: 30%;
	height: 30%;
	z-index: 1;
	overflow: auto;
	min-width: 32rem;
}

.modal-title {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
	font-size: 3rem;
}

.modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


.modal-form-container {
	margin: auto;
	width: 80%;
	text-align: center;
}

.modal-form-group {
	padding-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 2rem;
}

.modal-input {
	width: 80%;
	background: transparent;
	border: none;
	border-bottom: 2px solid #f2b01e;
	margin-left: 1rem;
	padding-left: 0.5rem;
	padding-bottom: 0.3rem;
	color: white;
	font-size: 1.5rem;

}

.input.modal-input[type=text] {
	width: 100%;
}

.modal-input:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

.submit-button-div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.popup-text {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	color: #fff;
}


.steps-list-title {
	text-align: center;
	color: #f2b01e;
}

.steps-list {
	font-size: 1.5rem;
	padding-top: 0.5rem;
	text-align: left;
	color: #999;
	counter-reset: item;
}

ol {
	counter-reset: item;
}

ol li {
	display: block;
}

ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	color: #f2b01e;
}

.modal-button-div {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}


/////////////////////////////////
///		CARD FLIP
//////////////////////////////// 



.flip {
	min-width: 42rem;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
		transition-property: transform, opacity;
    }
    >.front {

		transform: rotateY(0deg);
		width: 100%;
    }
    >.back {
		position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
		transform: rotateY(-180deg);
		
    }
}

.clicked-front {
		display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
		transition-property: transform, opacity;

		border: 1px solid black;
	  	color: white;
		width: 100%;
      	background-size: cover!important;
	  	background-position: center!important;
		height: 45rem;
     	background: #313131;
		border-radius: 10px;

		transform: rotateY(180deg);
		 
	p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
    }
}

.clicked-back {
		display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
		transition-property: transform, opacity;

		position: absolute;
        top: 0px;
        left: 0px;

		border: 1px solid black;
	  	color: white;
		width: 100%;
      	background-size: cover!important;
	  	background-position: center!important;
		height: 45rem;
     	background: #313131;
		border-radius: 10px;

		opacity: 1;
		transform: rotateY(0deg);
		 
	p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
    }
}


.flip {
	position: relative;
	display: flex;
	justify-content: center;
    margin: 4rem;
    >.front,
    >.back {
		border: 1px solid black;
	  	color: white;
		width: 100%;
      	background-size: cover!important;
	  	background-position: center!important;
		height: 45rem;
     	background: #313131;
     	border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}


.text-shadow {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.outer-container {
	margin: 4rem;
	border-radius: 0.5rem;
	 >.inner-container {
		border: 1px solid black;
	  color: white;
	height: 30rem;
      background: #313131;
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}

.workout-info {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #222;
	color: #555;
	font-style: 'Roboto Mono';
	border: 1px solid black;
	border-radius: 0.5rem;
	height: 80%;
	overflow: auto;
	margin: 3rem; 
}

.create-form {
	background-color: #222;
	border: 0.1rem solid #f2b01e;
	border-radius: 0.5rem;
}

.create-form-background {
	color: #333;
}


.create-workout-info {
	align-items: center;
	justify-content: center;
	background: #222;
	color: #555;
	font-style: 'Roboto Mono';
	border: 1px solid black;
	border-radius: 0.5rem;
	height: 80%;
	overflow: auto;
	margin: 3rem; 
}

.workout-delete-button {
	background: none;
	border: none;
	fill: white;
	cursor: pointer;
	padding: 1rem;
}

.delete-btn-container {
	display: flex;
	justify-content: flex-end;
	
}

.delete-component {
	width: 50%;
	
	height: auto;
}

.workout-display-button {
	padding: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid #f2b01e;
	cursor: pointer;
}







.workout-title {
	color: #f2b01e;
	font-size: 4rem;
}

.create-workout-title {
	color: #f2b01e;
	font-size: 4rem;
	margin-top: 1rem;
}

.workoutDescription {
	margin: 1rem 10rem 2rem 10rem;
	font-size: 1.8rem;
	color: #999;
	word-wrap: break-word;
}

.workout-exercise-list {
	color: #f2b01e;
	font-size: 2rem;
}



.workout-exercise-item {
	display: flex;
	justify-content: space-evenly;
	margin: 0.25rem;
	flex-direction: row;
}

.workout-exercise-list-item {
	width: 40%;
	text-align: left;
}

.add-to-logs {
	width: auto;
	height: 50%;
}

.dumbbell-button {
	background-color: transparent;
	border: none;
	fill: #f2b01e;
	cursor: pointer;
}

.add-to-logs-image {
	width: 75%;
	height: auto;
}

.deleteButton {
	margin-top: 4rem;
	padding: .5rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	border: 2px solid #f2b01e;
}

/////////////////////////////
////// ExerciseModal
/////////////////////////////

.currentWorkouts {
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
}

.exercise-form-modal {
	display: flex;
	width: 100%;
}

.exercise-modal-workout-title {
	display: flex;
	justify-content: left;
	padding-top: 0.6rem;
	padding-left: 2rem;
	align-items: center;
	width: 80%;
	font-size: 2rem;
	color: #fff;
}

.exerciseModal-default {
	text-align: center;
	margin-top: 5rem;
	color: #999
}

.exercise-add-button {
	margin-left: 3rem;
	color: #f2b01e;
	font-size: 5rem;
	border: none;
	border-radius: 0.5rem;
	background: none;
}

.exercise-add-button:focus {
	border: none;
	outline: none;
}

.exercise-add-symbol {
	cursor: pointer;
	fill: #fff;
	z-index: 10;
}

.modal-workout-form-container {
	display: flex;
	justify-content: center;
}

.volume-input {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 2px solid #f2b01e;
	color: #fff;
	padding-bottom: 0.3rem;
	font-size: 1.8rem;
	min-width: 5.322rem;
}

.volume-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-workout-log-group {
	padding: 2rem;
	display: flex;
	justify-content: center;
	width: 13.2%;
}

.calendar-div {
	margin-top: 2rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	
}

.calendar {
	font-size: 2rem;
	border: 1px solid #f2b01e;
	color: #f2b01e;
}

.react-date-picker__wrapper {
	border: 1px solid #f2b01e;	
}

.react-date-picker__inputGroup__divider {
	color: #f2b01e;
}

.react-date-picker__inputGroup__input {
	color: #fff;
}



.react-date-picker__button svg {
	color: #f2b01e;
}

.setInput:focus, .repInput:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

.repInput {
	width: 10%;
	background: transparent;
	border: none;
	border-bottom: 2px solid #f2b01e;
	color: #fff;
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	margin-left: 1rem;
	font-size: 1.5rem;
}



.added-exercise-text {
	display: flex;
	font-size: 1.3rem;
	justify-content: center;
	align-items: center;
	color: #999;
}

////////////////////////////
///// CREATE
////////////////////////////

.create-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.form-group {
	font-size: 1.5rem;
	font-weight: bold;
	width: 80%;
}



.createTab-label {
	color: #f2b01e;
	display: flex;
}

.inputs {
	width: 100%;
	margin: 0.3rem;
}

input[type=text] {
	padding: 0.5rem 1.5rem;
	box-sizing: border-box;
	border: 0.1rem solid #f2b01e;
	border-radius: 0.4rem;
}


.createForm-submit-btn {
	border: 0.2rem solid #f2b01e;
	border-radius: 0.4rem;
	padding: 0.5rem;
	font-weight: bold;
}

.step-button {
	padding: 0.5rem;
	border: 0.2rem solid #f2b01e;
	border-radius: 0.4rem;
	font-weight: bold;
}

.steps-div {
	display: flex;
}

.step-inputs {
	width: 90%;
	margin: 0.3rem;
}

.step-remove-button {
	padding: 0.3rem;
	margin: 0.1rem;
	border: 0.1rem solid red;
	border-radius: 0.4rem;
}

.steps-input-div {
	justify-content: right;
}

///////////////////////////
////Logs Tab
///////////////////////////

.log-outer-container {
	margin: 4rem;
	border-radius: 0.5rem;
	 >.log-inner-container {
		border: 1px solid black;
	  color: white;
	height: 30rem;
      background: #313131;
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}

.log-info {
	align-items: center;
	justify-content: center;
	background: #222;
	color: #555;
	font-style: 'Roboto Mono';
	border: 1px solid black;
	border-radius: 0.5rem;
	height: 80%;
	overflow: auto;
	margin: 3rem; 
}

.log-title {
	color: #f2b01e;
	font-size: 4rem;
	margin-top: 4rem;
	padding-bottom: 2rem;
}

.workoutTitle-default {
	height: 100%;
}

.log-title-default {
	color: #f2b01e;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.logs-list {
	font-size: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.logs-info-container {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
	align-items: center;
}

.logs-master-list {
	align-items: flex-start;
}

.logs-list-name {
	text-align: left;
	width: 40%;
	list-style-type: none;
	text-decoration: none;
	color: #f2b01e;
}


.logs-list-info {
	color: #fff;
	list-style-type: none;
	text-align: left;
}

.logs-edit-input1 {
	border: 0.1rem solid #f2b01e;
	border-radius: 0.5rem;
	margin-left: 0.9rem;
	padding-left: 0.5rem;
	width: 50%;
}

.logs-edit-input2 {
	border: 0.1rem solid #f2b01e;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	width: 50%;
}

.logs-edit-submit-btn {
	margin-top: 0.5rem;
	padding: 0.5rem;
	border: 0.1rem solid #f2b01e;
	border-radius: 0.2rem;
}

.logs-list-edit {
	font-size: 1rem;
	display: flex;
	align-items: center;
	color: #f2b01e;
	list-style-type: none;
	background: none;
}

.logs-edit-button {
	background: none;
	border: none;
	cursor: pointer;
}

.logs-edit-image {
	background: transparent;
	fill: #f2b01e;
	width: 45%;
	display: flex;
	justify-content: center;
	height: auto;
}

.delete-log-btn {
	margin-left: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.25rem;
}

.delete-log-image {
	fill: #fff;
	width: 40%;
	height: auto;
}




/////////////////////////
///// Media Queries
////////////////////////

@media (max-width: 1500px) {
	.exercise-button1 {
		left: 80%
	}
	.exercise-button2 {
		right: 80%
	}
}

@media (max-width: 1200px) {
	.exercise-button1 {
		left: 75%
	}

	.exercise-button2 {
		right: 75%
	}

	.exercise-title {
		width: 60%;
	}
}

@media (max-width: 1100px) {
	.info-container {
		// position: center;
		text-align: center;
		padding: 0;
		margin: 1;
		width: 80%;
	}

	.muscleFunction-title {
		width: 100%;
		font-size: 2.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		// margin: 0;
	}

	.info {
		font-size: 1.5rem;
	}

	.muscleFunction {
		font-size: 1.5rem;
	}
}


@media (max-width: 900px) {
	.tab-bar {
		font-size: 2rem;
	}

}

@media (max-width: 900px) {
	.added-exercise-text {
		margin-left: 2rem;
		font-size: 1.0rem;
	}
}





@media (max-width: 700px) {
	.tab-bar {
		font-size: 2rem;
	}

	.muscleFunction-title {
		font-size: 1.7rem;
	}

	.info {
		font-size: 1.5rem;
	}

	.muscleFunction {
		font-size: 1.5rem;
	}

	.main-div {
		width: 100%;
	}

	.muscle-category-container {
		width: 100%;
	}

	.overview-main-container {
		width: 100%;
	}

	.overview-content-container {
		width: 100%;
	}
}