@import 'components/navbar';
@import 'base/base';
@import 'pages/community.scss';
@import 'pages/exercises.scss';
@import 'pages/home.scss';
@import 'pages/muscle-groups.scss';
@import 'pages/workouts.scss';


@import 'components/exercise.scss';
@import 'components/exerciseCategory.scss';


.container {
	// height: 100vh;
}


.container-home {
	// height: 100vh;
}

.header-text {
	font-size: 5rem;
	color: #fff;
}

.content-text {
	font-size: 2rem;
	padding: 2rem;
}

.content-box {
	position: absolute;
	width: 75%;
	height: 50%;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	
	// border: 0.1rem solid white;
	border-radius: 1rem;
	background: rgba(238, 238, 238, 0.5);
}

.content {
	padding: 2rem 6rem;
}



.centered {
	text-align: center;
}

.button {
	text-align: center;
}


.landing-page {
	height: 100vh;
	background-color: #fff;
}

// .body-diagram {
// 	max-width: auto;
// 	max-height: 15rem;
// 	background-color: white;
// }

.body-diagram-image {
	width: 60%;
	// max-height: 60rem;
	background-color: #fff;

}


.muscle-map {
	position: relative;
	text-align: center;
	display: block;
}

.muscle-image-quadA {
	position: absolute;
	width: 3.93%;
	top: 42.1%;
	left: 34.18%;
}

.muscle-image-quadB {
	position: absolute;
	width: 3.93%;
	top: 42.1%;
	left: 38.81%;
}

.muscle-image-abs {
	position: absolute;
	width: 3.935%;
	top: 28.44%;
	left: 36.4%;
}

.muscle-image-bicepsA {
	position: absolute;
	width: 2.4%;
	top: 26.8%;
	left: 32.537%;
	// display: none;
}

.muscle-image-bicepsB {
	position: absolute;
	width: 2.4%;
	top: 26.8%;
	left: 42%;
	// display: none;
}

.muscle-image-pecs {
	position: absolute;
	width: 7.77%;
	top: 21.95%;
	left: 34.6%;
	// display: none;
}

.muscle-image-deltoidA {
	position: absolute;
	width: 3.36%;
	top: 20.95%;
	left: 33.12%;
}

.muscle-image-deltoidB {
	position: absolute;
	width: 3.4%;
	top: 20.89%;
	left: 40.44%;
}

.muscle-image-calvesA {
	position: absolute;
	width: 2.79%;
	top: 64.5%;
	left: 33.9%;
}

.muscle-image-calvesB {
	position: absolute;
	width: 2.84%;
	top: 63.9%;
	left: 40.22%;
}


.muscle-image-deltoidC {
	position: absolute;
	width: 3.34%;
	top: 19.3%;
	left: 56.95%;
}

.muscle-image-deltoidD {
	position: absolute;
	width: 3.41%;
	top: 19.32%;
	left: 64.8%;
}

.muscle-image-trapsC {
	position: absolute;
	width: 4.8%;
	top: 17.9%;
	left: 60.18%;
}

.muscle-image-latsA {
	position: absolute;
	width: 3.58%;
	top: 26.5%;
	left: 58.82%;
}

.muscle-image-latsB {
	position: absolute;
	width: 3.58%;
	top: 26.6%;
	left: 62.735%;
}

.muscle-image-lower-back {
	position: absolute;
	width: 3.97%;
	top: 32.8%;
	left: 60.55%;
}

.muscle-image-tricepsA {
	position: absolute;
	width: 2.75%;
	top: 24.7%;
	left: 56.1%;
}

.muscle-image-tricepsB {
	position: absolute;
	width: 2.75%;
	top: 24.7%;
	left: 66.25%;
}

.muscle-image-glutes {
	position: absolute;
	width: 7.33%;
	top: 40.7%;
	left: 58.9%;
}

.muscle-image-hamstringsA {
	position: absolute;
	width: 4.01%;
	top: 47.2%;
	left: 58.25%;
}

.muscle-image-hamstringsB {
	position: absolute;
	width: 4.0%;
	top: 47.55%;
	left: 62.9%;
}

.muscle-image-calvesC {
	position: absolute;
	width: 2.87%;
	top: 64.1%;
	left: 57.2%;
}

.muscle-image-calvesD {
	position: absolute;
	width: 2.87%;
	top: 64.2%;
	left: 65.05%;
}